{
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.intro{
  background-image: url("똘이2.jpg");
  width:100%;
  height:650px;
}

.header{
  display:flex;
  width:1280px;
  margin:auto;
  height:86px;
}

.searchArea{
  width:300px;
  height:40px;
  background:rgba(0, 0, 0, 0.5);
  border-radius:5px;
  margin-top: 24px;
}

.searchArea>form>input{
  border: none;
  width:220px;
  height:40px;
  color:white;
  padding-left:10px;
}

.searchArea > form > span{
  width:220px;
  color:white;
  font-weight: bold;
  cursor: pointer;
}

.nav{
  display:flex;
  justify-content: flex-end;
  line-height:86px;
  width:calc(1280px - 300px);
}

.nav > li{
  margin-left:84px;
}

.nav > li > a{
  color:black;
}
